page-schedule {
.bmd-calender{width:100%;border:2px solid #fff;border-radius:10px;padding-bottom: 10px;float: left;}
div.bmd-sch-row{width:100%;display:inline-flex;list-style:none;}
.bmd-sch1{width:100%;text-align:center;background: #3b3a3a;border:1px solid #fff;color:#fff;padding:2px;font-size: 15px;padding-top: 2px;padding-bottom: 2px;}
.bmd-sch2{min-height: 52px;float:left;width:20%;text-align:center;background: #fff;border:1px solid #cecece;color:#3b3a3a;padding:2px;padding-top: 15px;padding-bottom: 15px;font-size: 11px;font-weight: 400;}
.booked {background-color: #ecc}
}
